#form-add-contact {
    height: 80px;
    position: relative;
    border: 1px solid black;
    margin: 10px;
    padding: 10px;
    border-radius: 4px;
    text-align: center;
}
#form-add-contact button {
    position: absolute;
    bottom: 5px;
    left: 50%;
    transform: translateX(-50%);
    margin-bottom: 5px;
}
#rep{
    margin: 10px;
    font-family: sans-serif;

}
#rep h1{
    text-transform: uppercase;
    font-size: 35px;
}
#rep h1,
#rep h2,
#rep h4{
    text-align: center;
}
.contact p{
padding: 10px;
color: #666;
}
.contact:not(:last-of-type){
    border-bottom: 1px solid #000;
}